# This is a sample .env file for use in local development.
# Duplicate this file as .env in the root of the project
# and update the environment variables to match your
# desired config
#
# See the README for full descriptions of each of the
# available configurations.

HOST_ADDRESS='192.168.1.100'
HOST_PORT="43000"

DISCORD_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

MONGODB_URI="mongodb://127.0.0.1:27017/?writeConcern=majority"
MONGODB_DB="workbot"

WEB_ADDRESS="192.168.1.100:43000"
